# Core functionality - changes here should be rare!
/src/app.py                   @leonamvasquez
/src/backend/database.py      @leonamvasquez
/src/backend/routers/auth.py  @leonamvasquez

# The frontend will need refactored soon to be more object oriented.
/src/static/   @leonamvasquez
